/* theme 1 - dim red/yellow */
/*
@define-color accent1_str #872919;
@define-color accent1_wk  #964435;
@define-color accent2     #dcb375;
@define-color light_text  #f8f8f2;
@define-color dark_text   #303030;
@define-color dark_bg     #303030;
*/

/* theme 2 - strong red/orange */
/*
@define-color accent1_str #872919;
@define-color accent1_wk  #964435;
@define-color accent2     #dcb375;
@define-color light_text  #f8f8f2;
@define-color dark_text   #303030;
@define-color dark_bg     #303030;
*/

/* theme 3 - green */

@define-color accent1_str #385a27;
@define-color accent1_wk  #82a259;
@define-color accent2     #385a27;
@define-color light_text  #f8f8f2;
@define-color dark_text   #303030;
@define-color dark_bg     #303030;


/* theme 4 - blue/yellow */
/*
@define-color accent1_str #872919;
@define-color accent1_wk  #964435;
@define-color accent2     #dcb375;
@define-color light_text  #f8f8f2;
@define-color dark_text   #303030;
@define-color dark_bg     #303030;
*/

/* theme 5 - greenish blue/yellow */
/*
@define-color accent1_str #872919;
@define-color accent1_wk  #964435;
@define-color accent2     #dcb375;
@define-color light_text  #f8f8f2;
@define-color dark_text   #303030;
@define-color dark_bg     #303030;
*/

* {
	border: none;
	border-radius: 0;
	font-family: Nerd Font Hack;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 6px;
	transition: none;
    color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 6px;
	background: @dark_bg;
	transition-duration: 0.2s;
}

#workspaces button {
	padding: 0 10px;
	transition-duration: 0.2s;
	color: @light_text;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: @light_text;
}

#workspaces button:hover {
	transition-duration: 0.2s;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @accent1_str;
}

#workspaces button.active {
        background: @accent2;
        border-radius: 6px;
        color: @light_text;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: @light_text;
	background: linear-gradient(to bottom right, @accent1_str, @accent1_wk);
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: @light_text;
	background: linear-gradient(to bottom right, @accent1_str, @accent1_wk);
}

#temperature {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: @light_text;
	background: linear-gradient(to bottom right, @accent1_str, @accent1_wk);
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px; 
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: @light_text;
	background: linear-gradient(to bottom right, @accent1_str, @accent1_wk);
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
    margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: @light_text;
	background: linear-gradient(to bottom right, @accent1_str, @accent1_wk);
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: @light_text;
	background: @dark_bg;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: @light_text;
	background: @dark_bg;
}

/*
#custom-waybar-media {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	background: #282a36;
	transition: none;
	color: @light_text;
	background: #282a36;
}

#mpd {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
}

#mpd.disconnected,
#mpd.stopped {
	color: @light_text;
}

#battery {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: @light_text;
}

#battery.plugged {
    background: linear-gradient(to bottom right, blue, #252525);
}

#battery.charging {
    background: linear-gradient(to bottom right, green, #252525);
}

#battery.discharging {
    background: linear-gradient(to bottom right, red, #252525);
}

#backlight {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: @light_text;
    background: linear-gradient(to bottom right, grey, #252525);
}

#bluetooth {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
}

#bluetooth.on {
    transition: none;
    color: @light_text;
    background: #282a36;
}

#bluetooth.connected {
    transition: none;
    color: @light_text;
    background: #252525;
}

#bluetooth.off {
    transition: none;
    color: #4d4d4d;
    background: #252525;
}*/
