/*@import url('/home/aaditya/.cache/wal/colors-waybar.css');*/

* {
	border: none;
	border-radius: 0;
	font-family: Nerd Font Hack;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 6px;
	transition: none;
    color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 6px;
	background: #303030;
	transition-duration: 0.2s;
}

#workspaces button {
	padding: 0 10px;
	transition-duration: 0.2s;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #f8f8f2;
}

#workspaces button:hover {
	transition-duration: 0.2s;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #872919;
}

#workspaces button.active {
        background: #dcb375;
        border-radius: 6px;
        color: #303030;
}

#mpd {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	/*background: #282a36;*/
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: #f8f8f2;
	background: linear-gradient(to bottom right, #872919, #964435);
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: #f8f8f2;
	background: linear-gradient(to bottom right, #872919, #964435);
}

#temperature {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: #f8f8f2;
	background: linear-gradient(to bottom right, #872919, #964435);
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px; 
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: #f8f8f2;
	background: linear-gradient(to bottom right, #872919, #964435);
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
    margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: #f8f8f2;
	background: linear-gradient(to bottom right, #872919, #964435);
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: #f8f8f2;
	background: #362828;
}


#custom-waybar-media {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	background: #282a36;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 6px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

/*#battery {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #f8f8f2;
}

#battery.plugged {
    background: linear-gradient(to bottom right, blue, #252525);
}

#battery.charging {
    background: linear-gradient(to bottom right, green, #252525);
}

#battery.discharging {
    background: linear-gradient(to bottom right, red, #252525);
}

#backlight {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
    transition: none;
    color: #f8f8f2;
    background: linear-gradient(to bottom right, grey, #252525);
}

#bluetooth {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 6px;
}

#bluetooth.on {
    transition: none;
    color: #f8f8f2;
    background: #282a36;
}

#bluetooth.connected {
    transition: none;
    color: #f8f8f2;
    background: #252525;
}

#bluetooth.off {
    transition: none;
    color: #4d4d4d;
    background: #252525;
}*/
