/* COLOR THEME SETTINGS */

/* theme 1 - dim red/yellow */
/*
@define-color accent1_str_t rgba(56,90,39,0.6);
@define-color accent1_wk    #82a259;
@define-color accent1_str   #385a27;
@define-color light_text    #f8f8f2;
@define-color light_text2   #a1a1a1;
@define-color dark_text     #303030;
@define-color dark_bg       rgba(48,48,48,0.9);
*/

/* theme 2 - red accents */

/*@define-color accent1_str_t rgba(188, 9, 34, 0.6);*/
/*@define-color accent1_wk    #d34143;*/
/*@define-color accent1_str   #bc0922;*/
/*@define-color light_text    #f8f8f2;*/
/*@define-color light_text2   #a1a1a1;*/
/*@define-color dark_text     #303030;*/
/*@define-color dark_bg       rgba(48,48,48,0.9);*/
/**/

/* theme 3 - green */

@define-color accent1_str_t rgba(56,90,39,0.6);
@define-color accent1_wk    #82a259;
@define-color accent1_str   #385a27;
@define-color light_text    #f8f8f2;
@define-color light_text2   #a1a1a1;
@define-color dark_text     #303030;
@define-color dark_bg       rgba(48,48,48,0.9);


/* PROPER SETTINGS */

#entry {
padding: 5px 2px 5px 2px;
margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
color: @accent1_wk;
background-color: @accent1_str_t;
padding: 7px;
}
 
#text:selected {
color: @light_text;
}
 
#window {
animation-name: fadeIn;
animation-duration: 0.4s;
background-color: transparent;
font-family: Ubuntu Mono;
font-size:18px;
}

#input {
border: none;
background-color: rgba (0,0,0,0.9);
border-radius: 16px;
margin: 4px 4px 8px 4px;
padding: 8px;
color: @light_text2;
}

#inner-box {
color: @accent1_str;
border-radius: 16px;
}

#outer-box {
background-color: @dark_bg;
border-radius: 16px;
border: 1px solid #474747;
padding: 10px;
box-shadow: 0px 0px 3px 1px  #0F0F0F;
margin: 25px;
}

#scroll {
}

#text {
color: @light_text2;
background-color: transparent;
} 

#img {
  background-color: transparent;
}
